/*!
 * Nice Engineering v1.1.0 
 */
/*
Copyright 2017 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file except in compliance with the License. A copy of the License is located at

    http://aws.amazon.com/apache2.0/

or in the "license" file accompanying this file. This file is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
*/
/*

  Set CSS specific to the extension viewer view in this file.

*/
body {
  /*font: 12px arial, sans-serif;*/
  background-color: rgba(3, 1, 8, 0.88);
  margin: 0; }

th {
  text-align: left;
  font-weight: 500; }

.offline {
  display: none;
  margin: 0;
  padding: 1rem 0.75rem;
  opacity: 0;
  transition: 300ms ease-out; }
  .offline.active {
    opacity: 1;
    display: block; }

.sr-overlay {
  width: 100%;
  height: 100vh;
  position: relative; }

.overlay {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 300ms ease-out;
  background-color: rgba(3, 1, 8, 0.88);
  box-shadow: 1px 1px 1px 0.2px; }

.title-info {
  text-transform: uppercase;
  padding: 0 1.5rem;
  color: #ECECEC;
  font-family: Exo;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 16px; }

.time {
  position: relative;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border-bottom: 0.25px solid #49405C; }

.game-name {
  color: #0055ff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 19px; }

.category {
  font-size: 12px;
  font-weight: 200;
  line-height: 16px; }

.subcategory {
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 13px; }

.top-half, .bottom, .footer {
  transition: 300ms ease-out;
  opacity: 1; }

.top-half, .bottom {
  box-sizing: border-box;
  position: relative; }

.top-half {
  /* min-height: 147px; */
  height: 200px;
  padding-top: 1.5rem;
  padding-bottom: 43px;
  background: linear-gradient(90deg, #030109 24%, rgba(238, 238, 238, 0) 60%); }

.game-info {
  padding: 0 1.5rem; }

.game-art {
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  z-index: -1; }

.bottom {
  width: 100%;
  z-index: 1;
  /* margin-top: -1rem; */
  padding: 0 1rem; }

.bottom ul, .title-row {
  margin: 0; }

.title-row {
  padding: 1.5rem 1rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #D7D7D7;
  font-weight: 500;
  font-size: 8px;
  letter-spacing: 3px;
  line-height: 11px;
  text-transform: uppercase;
  /* box-shadow: 5px 5px 5px rgb(1, 1, 1, 0.6); */
  background: linear-gradient(180deg, rgba(3, 2, 10, 0) 0%, #030109 100%); }

.subcategories {
  min-height: 1.5rem; }

li {
  display: inline-block; }

.title-row li:first-child,
.time li:first-child {
  /* padding-right: 3rem; */
  width: 20%; }

.title-row li:nth-child(2),
.time li:nth-child(2) {
  width: 50%; }

.title-row li:nth-child(3),
.time li:nth-child(3) {
  width: 30%; }

.rank, .runner-name, .run-time, .run-date {
  font-size: 12px; }

.rank, .broadcaster-place {
  /* height: 16px;
	width: 17px; */
  position: relative;
  font-weight: 300;
  line-height: 16px;
  padding-left: 0.4rem;
  box-sizing: border-box; }

.circle {
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: #FF0066;
  box-shadow: 0 0 5px 1px #FF0066; }
  .circle.active {
    opacity: 1; }

.footer {
  position: relative;
  padding: 0.25rem 3rem 0.25rem 1.5rem;
  background-color: rgba(3, 1, 8, 0.88); }
  .footer a {
    position: relative;
    cursor: pointer;
    transition: 300ms ease-out;
    font-weight: 600; }
    .footer a:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 0;
      transform: translate(-50%, 0);
      transition: 300ms ease-out;
      border-bottom: 1px solid #E70273; }
    .footer a:hover {
      color: #C1004D; }
      .footer a:hover:after {
        width: 100%;
        border-bottom-color: #C1004D; }

.pipe {
  color: #8C8C8C; }

.popup {
  position: absolute;
  padding: 0.75rem;
  box-sizing: border-box;
  background-color: #4D4D4D;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transform: translate(-50%, 5%) scale(1, 1);
  transform: translate(-50%, 5%) scale(1, 1);
  transition: 300ms ease-out opacity;
  color: white;
  font-family: Exo, sans-serif;
  text-align: center;
  border-radius: 10px; }
  .popup::after {
    content: '';
    position: absolute;
    /* bottom: 100%; */
    top: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0) rotate(180deg);
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #4D4D4D; }
  .popup.active {
    opacity: 1; }

.sr-link {
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0; }

.hidden {
  opacity: 0;
  display: block; }
